if SHIELD_KEYBALL44_RIGHT

config ZMK_KEYBOARD_NAME
    default "Keyball44"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_KEYBALL44_LEFT || SHIELD_KEYBALL44_RIGHT

config ZMK_SPLIT
    default y

endif

menuconfig RGB_INDICATOR
    bool "RGB indicator"
    default n

if RGB_INDICATOR

config LED_STRIP
    default y

config ZMK_RGB_UNDERGLOW_EXT_POWER
    bool "RGB underglow toggling also controls external power"
    default y

endif #RGB_INDICATOR
