/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    macros {
        jp_lang: jp_lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "JP_LANG";
        };
    };

    behaviors {
        hold_mo_layer: hold_mo_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MO_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <42>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q     &kp W             &kp E  &kp R      &kp T     &kp Y     &kp U                   &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S             &kp D  &kp F      &kp G     &kp H     &kp J                   &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X             &kp C  &kp V      &kp B     &kp N     &kp M                   &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LEFT_CONTROL  &mo 3  &kp SPACE  &jp_lang  &kp BSPC  &hold_mo_layer 1 ENTER                         &mkp LCLK
            >;
        };

        lower_layer {
            bindings = <
&kp ESC    &kp Q     &kp N7     &kp N8  &kp N9        &kp T  &kp Y     &kp U      &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp N4     &kp N5  &kp N6        &kp G  &kp H     &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp N1     &kp N2  &kp N3        &kp B  &kp N     &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LCTRL  &none   &kp NUMBER_0  &none  &kp BSPC  &kp ENTER                         &kp LWIN
            >;
        };

        raise_layer {
            bindings = <
&kp ESC    &kp Q     &kp W      &kp E              &kp R      &kp T      &kp Y     &kp U      &kp I      &kp O       &kp P      &kp MINUS
&kp TAB    &kp A     &kp S      &kp D              &kp F      &kp G      &kp H     &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C              &kp V      &kp B      &kp N     &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp BSLH
           &kp LALT  &kp LCTRL  &ext_power EP_TOG  &kp SPACE  &kp LANG5  &kp BSPC  &kp ENTER                         &kp LWIN
            >;
        };

        adjust_layer {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4     &none            &none            &none  &none     &none        &none
&none   &none         &none         &none         &none              &none            &mkp MB4         &mkp MB1         &none  &mkp MB2  &none        &none
&none   &none         &none         &none         &none              &out OUT_TOG     &mkp MB5         &none            &none  &none     &none        &none
        &sys_reset    &bt BT_CLR    &none         &ext_power EP_TOG  &rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF                   &bootloader
            >;
        };
    };
};
