#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include "layers.h"
#include "keypos.h"
#include "helper.h"

// misc aliases
#define MY_FUN_NUM    mo_sk FUN_NUM LSHFT
#define MY_NAV_ACNT   mo_sl NAV_ACNT NAV_ACNT
#define MY_SYM_RET    lt_hp SYMBOL RET
#define MY_COMMA      lt SCROLL COMMA
#define MY_DOT        lt MOUSE DOT
#define MY_CTRL       kp_sk LCTRL LCTRL
#define MY_ALT        kp_sk LALT LALT
#define MY_GUI        kp_sk LGUI LGUI


&sk {
    quick-release;
};

ZMK_BEHAVIOR(mo_sk, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&sk>;
)
ZMK_BEHAVIOR(kp_sk, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&sk>;
)
ZMK_BEHAVIOR(mo_sl, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&sl>;
)
ZMK_BEHAVIOR(lt_hp, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&kp>;
)
ZMK_BEHAVIOR(mlt, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    bindings = <&mo>, <&mkp>;
)

ZMK_COMBO(combo_capsword, &caps_word,        LF2 RF2, 0 1,  50)
ZMK_COMBO(combo_caps,     &kp CAPSLOCK,      LB5 RB5, 0 1,  50)
ZMK_COMBO(combo_bootload, &bootloader,       RF2 RT2, 0 1, 150, 150)
ZMK_COMBO(combo_reset,    &sys_reset,        RF3 RT3, 0 1, 150, 150)
ZMK_COMBO(combo_mb1,      &mkp MB1,          RF1 RF2, 0 1, 150, 150)
ZMK_COMBO(combo_mb2,      &mkp MB2,          RF2 RF3, 0 1, 150, 150)
ZMK_COMBO(combo_mb3,      &mkp MB3,      RF1 RF2 RF3, 0 1, 150, 150)

ZMK_SHIFT_MACRO(bt_sel_0, &bt BT_SEL 0, &bt BT_SEL 0 &bt BT_CLR)
ZMK_SHIFT_MACRO(bt_sel_1, &bt BT_SEL 1, &bt BT_SEL 1 &bt BT_CLR)
ZMK_SHIFT_MACRO(bt_sel_2, &bt BT_SEL 2, &bt BT_SEL 2 &bt BT_CLR)
ZMK_SHIFT_MACRO(bt_sel_3, &bt BT_SEL 3, &bt BT_SEL 3 &bt BT_CLR)
ZMK_SHIFT_MACRO(bt_sel_4, &bt BT_SEL 4, &bt BT_SEL 4 &bt BT_CLR)

/* Keymap */

ZMK_CONDITIONAL_LAYERS(tri_layers_1, FUN_NUM NAV_ACNT, SYSTEM)

ZMK_LAYER(canary,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
          &kp ESC       &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6       &kp N7       &kp N8       &kp N9       &kp N0    &kp MINUS
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &kp TAB        &kp W        &kp L        &kp Y        &kp P        &kp B            &kp F        &kp J        &kp O        &kp U        &kp Q     &kp SEMI
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
        &kp LSHFT        &kp C        &kp R        &kp S        &kp T        &kp G            &kp M        &kp N        &kp E        &kp I        &kp A     &kp APOS
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
        &kp LCTRL     &kp LGUI  &lt MOUSE Z &lt SCROLL V        &kp D        &kp K            &kp X        &kp H    &MY_COMMA      &MY_DOT     &kp FSLH    &kp EQUAL
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                                &MY_CTRL    &kp SPACE  &MY_FUN_NUM     &MY_NAV_ACNT  &MY_SYM_RET
                                                              &MY_ALT      &MY_GUI         &kp BSPC
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(qwerty,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans        &kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans        &kp A        &kp S        &kp D        &kp F        &kp G            &kp H        &kp J        &kp K        &kp L     &kp SEMI       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans        &kp Z  &lt MOUSE X &lt SCROLL C        &kp V        &kp B            &kp N        &kp M       &trans       &trans       &trans       &trans
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                                  &trans       &trans       &trans           &trans       &trans
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(game,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
          &kp ESC       &kp N5       &kp N1       &kp N2       &kp N3       &kp N4           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &kp TAB        &kp T        &kp Q        &kp W        &kp E        &kp R           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
        &kp LSHFT        &kp G        &kp A        &kp S        &kp D        &kp F           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
        &kp LCTRL        &kp B        &kp Z        &kp X        &kp C        &kp V           &trans       &trans       &trans       &trans       &trans       &trans
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                                  &trans       &trans       &trans           &trans       &trans
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(fun_num,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
            &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none      &kp F12       &kp F7       &kp F8       &kp F9    &kp PSCRN        &kp ASTRK       &kp N7       &kp N8       &kp N9    &kp MINUS        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
      &kp C_EJECT      &kp F11       &kp F4       &kp F5       &kp F6 &kp C_VOL_UP         &kp FSLH       &kp N4       &kp N5       &kp N6     &kp PLUS        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &molock      &kp F10       &kp F1       &kp F2       &kp F3 &kp C_VOL_DN        &kp PRCNT       &kp N1       &kp N2       &kp N3    &kp CARET      &molock
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                              &kp C_MUTE       &trans        &none           &trans       &kp N0
                                                               &trans       &trans          &kp DEL
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(symbol,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
            &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none    &kp GRAVE       &kp LT       &kp GT      &kp DQT    &kp UNDER         &kp AMPS     &kp APOS     &kp LBKT     &kp RBKT    &kp PRCNT        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none     &kp EXCL    &kp MINUS     &kp PLUS    &kp EQUAL     &kp HASH         &kp PIPE    &kp COLON     &kp LPAR     &kp RPAR    &kp QMARK        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none    &kp CARET     &kp FSLH    &kp ASTRK     &kp BSLH     &kp SEMI        &kp TILDE   &kp DOLLAR     &kp LBRC     &kp RBRC       &kp AT        &none
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                                  &trans       &trans       &trans           &trans        &none
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(nav_acnt,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
            &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none      &kp INS     &kp HOME       &kp UP      &kp END    &kp PG_UP            &none   &kp RA(N5)    &kp RA(O)    &kp RA(U)    &kp RA(Y)        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none        &none     &kp LEFT     &kp DOWN    &kp RIGHT    &kp PG_DN            &none    &kp RA(N)    &kp RA(E)    &kp RA(I)    &kp RA(A)        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &molock    &kp LC(Z)    &kp LC(X)    &kp LC(C)    &kp LC(V)    &kp LC(Y)            &none        &none      &none &kp RA(LS(N1)) &kp RA(FSLH)      &molock
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                           &kp LC(RCTRL)       &trans       &trans            &none       &trans
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(mouse,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &molock    &kp LC(Z)    &kp LC(X)    &kp LC(C)    &kp LC(V)    &kp LC(Y)           &trans   &mkp LCLK &mlt SCROLL MCLK &mkp RCLK       &trans      &molock
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                               &mkp LCLK    &mkp MCLK    &mkp RCLK           &trans       &trans
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(scroll,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
           &trans       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
          &molock       &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans      &molock
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                               &mkp LCLK    &mkp MCLK    &mkp RCLK           &trans       &trans
                                                               &trans       &trans           &trans
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)

ZMK_LAYER(system,
// ╭───────────────────────────────────────────────────────────────────────────────╮ ╭───────────────────────────────────────────────────────────────────────────────╮
            &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none        &none        &none        &none  &tog QWERTY    &tog GAME            &none        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none        &none        &none        &none        &none        &none     &out OUT_USB        &none        &none        &none        &none        &none
// ├───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────┤
            &none        &none        &none        &none        &none        &none     &out OUT_BLE    &bt_sel_0    &bt_sel_1    &bt_sel_2    &bt_sel_3    &bt_sel_4
// ╰───────────────────────────────────────────────────────────────────────────────┤ ├───────────────────────────────────────────────────────────────────────────────╯
                                                   &none        &none        &none            &none        &none
                                                                &none        &none            &none
//                                        ╰────────────────────────────────────────╯ ╰───────────────────────────╯
)
